@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body{
    background-image: url(../asset/bgBlack2.png);
    /* background-size: cover; */
    /* position: fixed;  */
    overflow-x: hidden;
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 300px;
    position: fixed;
    width: 100vw;
    box-shadow: 1px 5px 50px black;
    z-index: 1000;
}
.header ul{
    display: flex;
    gap: 2rem;
}
.header ul li{
    list-style: none;
}
.header h1{
    font-size: 1.4rem;
}
.header span{
    display: none;
}

/* Hello section */
.hello{
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; gap: 2rem;
    justify-content: center;
    align-items: center;
}
.hello img{
    width: 40%;
    margin-right: 4rem;
}
.hello h2{
    font-size: 5rem;
    margin-top: -8rem;
    color: black;
    font-weight: 900;
	-webkit-text-fill-color: white;
    /* -webkit-text-stroke-width: 5px; */
    /* -webkit-text-size-adjust: 20px; */
    background-color: black;
    /* transform: scale(1.7); */
    /* letter-spacing: -3px; */
}
.hello p{
    text-align: center;
    font-weight: 100;
    font-size: 1.5rem;
}
.hello span{
    border: 2px solid white;
    width: 30px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hello span .scroll{
    width: 10%;
    height: 10%;
    border:2px solid white;
    margin-top: -70%;
}



/* portifolio */
.portifolio{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 15px 300px;
}
.grid-container{
    /* background-color: blue; */
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.grids{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grids img{
    max-width: 100%;
}
.grids button{
    background-color: black;
    transform: scale(0);
    color: white;
    border: none;
    border: 1px solid white;
    padding: 1rem 2rem;
    position: absolute;
    font-size: 0.5em;
    transition: ease-in-out 0.5s;
}
.grids:hover button{
    transform: scale(1);
    cursor: pointer;
}


/* Sponsor  */
.sponsor{
    background-color: black;
    width: 100vw;
    padding: 220px 400px 50px 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsor img{
    width: 4%;
}


/* About  */
.about{
    background-color: transparent;
    color: white;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 300px;
}
.about h2{
    margin-top: 1rem;
    font-size: 5rem;
}
.about p{
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 300;
}
.about p span{
    color: #FF6464;
}
.about .left {
    width: 50%;
}
.about .left img{
    width: 80%;
    transform: scale(1.1);
    margin-top: 2rem;
}
.about .right{
    width: 50%;
}
.about .right button{
    background-color: black;
    padding: 1rem 2rem;
    border: none;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-top: 2rem;
}


/* Services  */
.service{
    background-color: transparent;
    color: white;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 300px;
}
.service h1{
    text-align: left;
    float: left;
}

.service .grid-container .grid{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 1rem;
    margin-top: 40px;
    gap: 2rem;
    /* background-color: rebeccapurple; */
    width: 100%;
    
}
.service .grid-container .grid span{
    color: #FF6464;
    font-size: 3rem;
}

/* Testimonyial */
.testimony{
    width: 100vw;
    /* height: 100vh; */
    background-color: transparent;
    padding: 200px 300px 100px 300px;
}
.testimony h1{
    color: white;
    margin-top: -2rem;
}
.testimony .grid-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
}
.testimony .grid-container .grid{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 1px 2px 30px black;
    padding: 100px 10px 50px 10px;
    width: 1000px;
    z-index: 10;
}
.testimony .grid-container .center{
    transform: scale(1.2);
    margin-top: 5rem;
}
.testimony .grid-container .left{
    margin-left: 140rem;
    /* background-color: darkgoldenrod; */
    z-index: 9;
    transform: scale(0.8)
}
.testimony .grid-container .right{
    margin-right: 140rem;
    /* background-color: darkcyan; */
    z-index: 9;
    transform: scale(0.8);
}
.testimony .grid-container .grid .content{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 10rem;
    color: white;
}
.testimony .grid-container .grid .background{
    width: 80%;
    height: 5px;
    background-color: #FF6464;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.testimony .grid-container .grid .background .profile{
    position:absolute;
    background-color:#FF6464;
    border-radius: 100%;
    /* padding: 10px; */
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 10px solid #FF6464;
}
.testimony .grid-container .grid .background .profile img{
    width: 100%;
    
}
.testimony .grid-container .grid h2{
    margin-top: 4rem;
    color: white;
}
.testimony .grid-container .grid p{
    margin-top: 1rem;
    color: #D9D9D9;
}

.testimony .carousel{
    position: relative;
    /* background-color: blue; */
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    z-index: 12;
}
.testimony .carousel span{
    background-color: #a8b1bb;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.testimony .carousel .active{
    background-color: #ffffff;
    width: 50px;
    cursor: pointer;    
}

/* Blog  */
.blog{
    width: 100vw;
    /* height: 100vh; */
    padding: 100px 300px 50px 300px;
    background-color: transparent;
    color: white;
}
.blog .wrapper-grid{
    /* background-color: #FF6464; */
    display: grid;
    grid-template-columns: auto auto auto;
}
.blog .wrapper-grid .grid{
    /* background-color: blue; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #1E1E1E;
    transition: ease-in-out 0.5s;
}
.blog .wrapper-grid img{
    width:98%
}
.blog .wrapper-grid .content{
    position: absolute;
    background: linear-gradient(180deg,transparent, rgb(168, 168, 168));
    padding: 100px 0 10px 0;
}
.blog .wrapper-grid .grid:hover button{
    transform: scale(1);
    transition: ease-in-out 0.5s;
}
.blog .wrapper-grid .content button{
    background-color: black;
    padding: 0%;
    color: white;
    padding: 0.8rem 1.5rem;
    transform: scale(0);
    border: none;
}

/* Contact  */
.contact{
    width: 100vw;
    /* height: 100vh; */
    padding: 150px 300px 50px 300px;
    background-color: transparent;
    color: white;
}
.contact .grids-container{
    /* background: blue; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}
form{
    background-color: black;
    width: 70%;
    padding: 4rem 4rem 4rem 2rem;
    margin-left: -3rem;
    box-shadow: 1px 5px 100px black;
}
form .wrapper{
    width: 100%;
    display: flex;
    gap: 10px;
}
form .wrapper input{
    width: 50%;
    outline: none;
    /* margin: 10px; */
    padding: 10px 20px;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a8b1bb;
    color: #a8b1bb;
}
form textarea{
    font-size: 1em;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #a8b1bb;
    margin-top: 2rem;
    color: #a8b1bb;
}
input[type="submit"]{
    background-color: transparent;
    margin-top: 1rem;
    padding: 1.5rem 3rem;
    color: white;
    border: none;
    border: 1px solid #a8b1bb;
    outline: none;
    font-size: 1.2rem;
}
.info{
    /* background-color:#a8b1bb; */
    width: 40%;
    padding: 2rem;
}
.info .row{
    /* background-color:#305988; */
    gap: 10px;
}
.info .row h3{
    color: #FF6464;
    margin-top: 2rem;
    font-size: 1.4rem;
}
.info .row p{
    color: #a8b1bb;
    margin-top: 1rem;
    font-size: 1rem;
}


/* footer  */
.footer{
    background-color: #1E1E1E;
    width: 100vw;
    color: white;
    display: flex;
    gap: 3rem;
    padding: 4rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul{
    color: #a8b1bb;
    display: flex;
    gap: 2rem;
    list-style: none;
}
.footer p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p span{
    color: #FF6464;
    margin: 0 1rem 0 1rem;
}












/* Medium screen Responsiveness */
@media only screen and (max-width: 820px) {
    body{
        background-color: black;
        overflow-x: hidden;
    }
    .header{
        background-color:black;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
    }
    .header ul{
        display: none;
        gap: 2rem;
    }
    .header h1{
        font-size: 1.2rem;
    }
    .header span{
        display: block;
    }
    
    /* Hello section   */
    .hello{
        background: black;
        color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column; 
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 10px 50px;
    }
    .hello img{
        width: 80%;
        margin-right: 3rem;
    }
    .hello h2{
        font-size: 4rem;
        margin-top: -5rem;
        color: black;
        font-weight: 900;
        -webkit-text-fill-color: white;
        background-color: black;
        text-align: center;
    }
    .hello p{
        text-align: center;
        font-weight: 100;
        font-size: 1.3rem;
    }
    .hello span{
        border: 2px solid white;
        width: 25px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hello span .scroll{
        width: 10%;
        height: 10%;
        border:2px solid white;
        margin-top: -70%;
    }

    /* Portifolio Medium size  */
    .portifolio{
        background-color: black;
        width: 100vw;
        color: white;
        padding: 10px 50px;
    }
    .grid-container{
        /* background-color: blue; */
        width: 100%;
        padding: 5px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto;
    }
    .grids:last-child{
        display: none;
    }
    .grids{

        width: 100%;
        margin: 0 0 10px;
        padding: 7px;
        overflow: hidden;
        break-inside: avoid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grids img{
        max-width: 100%;
    }
    .grids button{
        background-color: black;
        transform: scale(0);
        color: white;
        border: none;
        border: 1px solid white;
        padding: 0.6rem 1.2rem;
        position: absolute;
        font-size: 0.5em;
        transition: ease-in-out 0.5s;
    }
    .grids:hover button{
        transform: scale(1);
        cursor: pointer;
    }


    /* Sponsor */
    .sponsor{
        position: relative;

        width: 100vw;
        padding: 8rem 0.5rem 50px 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .sponsor img{
        width: 6%;
    }

    /* About  */
.about{
    background-color: black;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}
.about h2{
    margin-top: 0.5rem;
    font-size: 3.5rem;
}
.about p{
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 400;
}
.about p span{
    color: #FF6464;
}
.about .left {
    /* width: 50%; */
    display: none;
}
.about .right{
    width: 90%;
    padding: 30px 0;
}
.about .right button{
    background-color: black;
    padding: 0.6rem 1rem;
    border: none;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin-top: 2rem;
}

/* Services  */
.service{
    background-color: black;
    color: white;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 50px;
}
.service h1{
    text-align: left;
    float: left;
}

.service .grid-container .grid{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0.8rem;
    margin-top: 40px;
    gap: 1.6rem;
    /* background-color: rebeccapurple; */
    width: 100%;
    
}
.service .grid-container .grid span{
    color: #FF6464;
    font-size: 2rem;
}

/* Testimonyial */
.testimony{
    width: 100vw;
    background-color: black;
    padding: 50px 50px 10px 50px;
}
.testimony h1{
    color: white;
    margin-top: -1rem;
}
.testimony .grid-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
}
.testimony .grid-container .grid{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    box-shadow: 1px 2px 50px black;
    padding: 30px 8px 30px 8px;
    width: 800px;
    z-index: 10;
}
.testimony .grid-container .center{
    transform: scale(0.8);
    margin-top: -2rem;
}
.testimony .grid-container .left{
    margin-left: 10rem;
    /* background-color: darkgoldenrod; */
    z-index: 9;
    transform: scale(0.7)
}
.testimony .grid-container .right{
    margin-right: 10rem;
    /* background-color: darkcyan; */
    z-index: 9;
    transform: scale(0.7);
}
.testimony .grid-container .grid .content{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    color: white;
}
.testimony .grid-container .grid .background{
    width: 70%;
    height: 5px;
    background-color: #FF6464;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.testimony .grid-container .grid .background .profile{
    position:absolute;
    background-color:#FF6464;
    border-radius: 100%;
    /* padding: 10px; */
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 10px solid #FF6464;
}
.testimony .grid-container .grid .background .profile img{
    width: 100%;
    
}
.testimony .grid-container .grid h2{
    margin-top: 4rem;
    color: white;
}
.testimony .grid-container .grid p{
    margin-top: 1rem;
    color: #D9D9D9;
}

.testimony .carousel{
    position: relative;
    /* background-color: blue; */
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    z-index: 14;
}
.testimony .carousel span{
    background-color: #a8b1bb;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.testimony .carousel .active{
    background-color: #ffffff;
    width: 30px;
    cursor: pointer;    
}

/* Blog  */
.blog{
    width: 100vw;
    /* height: 100vh; */
    padding: 10px 50px 10px 50px;
    color: white;
}

/* Contact  */

.contact{
    width: 100vw;
    /* height: 100vh; */
    padding: 15px 50px 15px 50px;
    background-color: transparent;
    color: white;
}
.contact .grids-container{
    /* background: blue; */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
form{
    background-color: black;
    width: 100vw;
    padding: 4rem 4rem 4rem 2rem;
    box-shadow: 1px 5px 100px black;
}
form .wrapper input{
    width: 50%;
    outline: none;
    /* margin: 10px; */
    padding: 8px 16px;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a8b1bb;
    color: #a8b1bb;
}
form textarea{
    font-size: 1em;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #a8b1bb;
    margin-top: 1.5rem;
    color: #a8b1bb;
}
input[type="submit"]{
    background-color: transparent;
    margin-top: 1rem;
    padding: 1.5rem 3rem;
    color: white;
    border: none;
    border: 1px solid #a8b1bb;
    outline: none;
    font-size: 1.2rem;
}
.info{
    /* background-color:#a8b1bb; */
    width: 100%;
    padding: 2rem;
}   
}





/*Small screen Responsiveness */
@media only screen and (max-width: 414px) {
    body{
        background-color: red;
        overflow-x: hidden;
    }
    .header{
        background-color:black;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .header ul{
        display: none;
        gap: 2rem;
    }
    .header h1{
        font-size: 1rem;
    }
    .header span{
        display: block;
    }

    /* Hello section   */
    .hello{
        background: black;
        color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column; 
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        text-align: center;
    }
    .hello img{
        width: 100%;
        margin-right: 2rem;
    }
    .hello h2{
        font-size: 3rem;
        margin-top: -3rem;
        color: black;
        font-weight: 800;
        -webkit-text-fill-color: white;
        background-color: black;
    }
    .hello p{
        margin-top: 1rem;
        text-align: center;
        font-weight: 100;
        font-size: 1.1rem;
    }
    .hello span{
        margin-top: 2rem;
        border: 2px solid white;
        width: 25px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hello span .scroll{
        width: 10%;
        height: 10%;
        border:2px solid white;
        margin-top: -70%;
    }

    /* Portifolio Medium size  */
    .portifolio{
        background-color: black;
        width: 100vw;
        height: auto;
        color: white;
        padding: 10px 20px;
    }
    .grid-container{
        /* background-color: blue; */
        width: 100%;
        padding: 5px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto;
    }
    .grids:last-child{
        display: none;
    }
    .grids{

        width: 100%;
        margin: 0 0 10px;
        padding: 7px;
        overflow: hidden;
        break-inside: avoid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grids img{
        max-width: 100%;
    }
    .grids button{
        background-color: black;
        transform: scale(0);
        color: white;
        border: none;
        border: 1px solid white;
        padding: 0.6rem 1.2rem;
        position: absolute;
        font-size: 0.5em;
        transition: ease-in-out 0.5s;
    }
    .grids:hover button{
        transform: scale(1);
        cursor: pointer;
    }

    /* Sponsor */
    .sponsor{
        position: relative;

        width: 100vw;
        padding: 4rem 0 4rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .sponsor img{
        width: 6%;
    }

    /* About  */
    .about h2{
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }
    .about p{
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: 200;
    }

    /* testimonial */
    .testimony .grid-container .grid{
        transform: scale(0.5);
    }
    .testimony .grid-container .left{
        display: none;
    }
    .testimony .grid-container .right{
        display: none;
    }


.contact{
    width: 100vw;
    /* height: 100vh; */
    padding: 10px;
    background-color: transparent;
    color: white;
}
.contact .grids-container{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    background-color: black;
    width: 100%;
    padding: 0 0 0 50px;
    box-shadow: 1px 5px 100px black;
}
form .wrapper{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
form .wrapper input{
    width: 100%;
    outline: none;
    /* margin: 10px; */
    padding: 8px 16px;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a8b1bb;
    color: #a8b1bb;
    margin-top: 10px;
}
form textarea{
    font-size: 1em;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #a8b1bb;
    margin-top: 1.5rem;
    color: #a8b1bb;
}
input[type="submit"]{
    background-color: transparent;
    margin-top: 1rem;
    padding: 1.5rem 3rem;
    color: white;
    border: none;
    border: 1px solid #a8b1bb;
    outline: none;
    font-size: 1.2rem;
}
.info{
    background-color:black;
    width: 100%;
    padding: 10px;
}  







/* footer  */
.footer{
    background-color: #1E1E1E;
    width: 100vw;
    color: white;
    display: flex;
    gap: 2rem;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul{
    color: #a8b1bb;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    list-style: none;

}
.footer p{
    display:inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.footer p span{
    color: #FF6464;
    margin: 0 1rem 0 1rem;
}

}